@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@1&family=Andika&family=Catamaran:wght@400;500&family=Inter:wght@300&family=Lato:wght@300;400&family=Montserrat:wght@200;300;400&family=Open+Sans:wght@300&family=PT+Sans&family=Poppins:wght@300;400&family=Raleway:ital,wght@0,300;0,400;0,600;1,300&family=Tangerine:wght@400;700&family=Ubuntu:wght@300&family=Vollkorn&family=Work+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-family: "Andika", sans-serif;
  font-family: "Catamaran", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "PT Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Tangerine", cursive;
  font-family: "Ubuntu", sans-serif;
  font-family: "Vollkorn", serif;
  font-family: "Work Sans", sans-serif;
}

body {
  display: grid;
  /* grid-template-columns: minmax(500, 1fr); */
  min-height: 300px;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
}

.wrapper {
  background: #fff;
  /* width: 50%; */
  /* width: 30em; */
  margin: 1em;
  padding: 1em;
  text-align: center;
  border-radius: 5px;
  /* border: 2px solid black;
  outline: none; */

  /* padding: 1rem; */
}

.wrapper h4 {
  margin-top: 1em;
  font-weight: 600;
}

.wrapper p {
  padding: 1em;
  letter-spacing: 5px;
  font-weight: 800;
  font-size: x-large;
}

.wrapper p::before {
  content: "[";
}

.wrapper p::after {
  content: "]";
}

#push p::before {
  content: "[";
}

#push p::after {
  content: "]";
}
